<div class="container-fluid">
  <div class="cards" fxLayout="column">
      <div *ngFor="let sponsor of sponsors" class="cardholder" fxLayout="row">
        <div class="sponsor-card" (click)="goToLink(sponsor.LinkUrl)" fxLayout="column" >
          <div class="logo-container">
            <img class="sponsor-logo" src="{{sponsor.ImageUrl}}" fxFlex="70">
          </div>
          <div class="sponsor-info" fxLayout="column" fxFlex="30">
            <h4 class="sponsor-title">{{sponsor.Name}}</h4>
            <div class="sponsor-text" [innerHTML]="sponsor.Description"></div>
          </div>
        </div>
      </div>
  </div>
</div>
