<!--Entire page-->
<div class="container-fluid">
    <!--Tabs-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <ng-container *ngFor="let timeslot_obj of calendar_obj | mapToIterable; let i = index">
            <li [ngClass]="{ 'active': i == 0 }"  class="nav-item">
                <a class="nav-link" [href]="'#day_'+i" [id]="'day_' +i+ '-tab'" data-toggle="tab" role="tab">{{timeslot_obj.key}}</a>
            </li>
        </ng-container>
    </ul>
    <div class="tab-content" id="myTabContent">
        <ng-container *ngFor="let timeslot_obj of calendar_obj | mapToIterable; let i = index">
            <div class="tab-pane fade" [ngClass]="{ 'active in': i == 0 }" [id]="'day_'+i" role="tabpanel">
                <!--Times-->
                <ng-container *ngFor="let time_obj of timeslot_obj.val | mapToIterable">
                    <div *ngFor="let time of time_obj.val | mapToIterable"
                         class="row time-slot" fxLayout="row" fxLayoutAlign="start">
                        <div class="time" fxLayout="column" fxFlex="20">
                            <h4 class="time-value">{{time.key}}</h4>
                        </div>
                        <!--Sessions-->
                        <div class="cards" fxLayout="column" fxFlex="80">
                            <ng-container *ngFor="let session of time.val">
                                <div *ngIf="!session.SpeakerCanceled && session.SpeakerConfirmed" class="cardholder" fxLayout="row">
                                    <div class="card" fxFlex="grow">
                                        <h4 class="card-speaker">{{session.SpeakerName}}</h4>
                                        <h5 class="card-title">{{session.Title}}</h5>
                                        <p class="card-text">{{session.Abstract | limitTo:300 }}</p>
                                        <span class="label label-primary label-fat">{{session.Track | sessionTrackType}}</span>
                                        <span class="label label-default label-fat">{{session.Room }}</span>
                                    </div>
                                    <div class="icon" fxFlex="20" fxLayoutAlign="center center">
                                        <i class="fa fa-bookmark fa-2x" [id]="'b_' +i" (click)="onBookmarkClick(session)" ></i>
                                    </div> <!--[ngStyle]="{'color:':isBookmarked == true ? 'green' : 'black'}"-->
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>



