.container-fluid {
  padding-left: 8%;
  padding-right: 8%;
}

div .cards {
  padding-bottom: 4%;
}

div .cardholder {
  border-bottom: 1px solid gray;
}

div .icon .fa-bookmark {
  cursor: pointer;
}

.card-title {
  font-weight: bold;
}

.time {
  text-align: center;
}

.nav-tabs {
  margin-left: 6%;
}

