
<!--<navigation>-->
<!--<second-nav>-->


            <!--Entire page-->
            <div class="container-fluid">
                <!--Times-->
                <ng-container *ngFor="let timeslot_obj of calendar_obj | mapToIterable">
                    <ng-container *ngFor="let time_obj of timeslot_obj.val | mapToIterable">
                        <div *ngFor="let time of time_obj.val | mapToIterable"
                                class="row time-slot" fxLayout="row" fxLayoutAlign="start">
                            <div class="time" fxLayout="column" fxFlex="10">
                                <h4 class="time-value">{{time.key}}</h4>
                            </div>
                            <!--Sessions-->
                            <div class="cards" fxLayout="column" fxFlex="90">
                                <div *ngFor="let session of time.val" class="cardholder" fxLayout="row">
                                    <div class="card" fxFlex="grow">
                                        <h4 class="card-title">{{session.SpeakerName}}</h4> <!--TODO: add session title-->
                                        <p class="card-text">{{session.Abstract | limitTo:300 }}</p>
                                        <span class="label label-primary label-fat">{{session.Track | sessionTrackType}}</span>
                                        <span class="label label-default label-fat">{{session.Room }}</span>
                                    </div>
                                    <div class="icon" fxFlex="20" fxLayoutAlign="center center">
                                        <i class="fa fa-bookmark"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>



<!--</second-nav>-->
<!--</navigation>-->
