.container-fluid {
  padding-left: 8%;
  padding-right: 8%;
}

div .cards {
  padding-bottom: 4%;
}

div .cardholder {
  border-bottom: 1px solid lightgray;
}

div .icon .fa-bookmark {
  cursor: pointer;
}

.card-title {
  font-weight: bold;
}

.time {
  text-align: center;
}

.nav-tabs {
  margin-left: 6%;
}

.Developer {
  background-color: red;
}
.DevOps {
  background-color: green;
}
.ITPro {
  background-color: orange;
}
.Entrepreneur {
  background-color: blue;
}
.Design {
  background-color: indigo;
}
