<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-sm-12">
      <div class="panel">
        <header>
          <h2>Reset Password</h2>
        </header>
        <div class="panel-body">
          <div *ngIf="user" class="alert alert-success alert-dismissible" role="alert">
            Your password has been changed! Please
            <a routerLink="/login" routerLinkActive="active">login</a> to continue
          </div>
          <div>
            <p>Please create a new password below</p>
          </div>
          <form (ngSubmit)="onSubmit()" id="passwordResetForm" #passwordResetForm="ngForm">
            <div class="form-group">
              <label for="password">Password</label>
              <input [(ngModel)]="resetPasswordRequest.NewPassword" type="password" class="form-control" id="password" name="password"
                required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,15}$">
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input [(ngModel)]="resetPasswordRequest.ConfirmPassword" type="password" class="form-control" id="confirmpassword" name="confirmpassword"
                required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,15}$">
              <div class="small-info">
                <span>Password requirements</span>
                <ul>
                  <li>Must be between 8 and 15 characters</li>
                  <li>Must contain at least one lowercase character</li>
                  <li>Must contain at least one uppercase character</li>
                  <li>Must contain at least one special character</li>
                  <li>Must contain at least one digit</li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>