 /* Variables
 **********************************/

// Fonts
$raleway: 'Raleway', sans-serif;
$lalezar: 'Lalezar', sans-serif;
$basic: sans-serif;

// Colors
$off-white: #f0f0f0;
$off-black: #21262d;
$accent: #0088cc;