<app-tabs (selectedTab)="clickTab()">
    <app-tab [tabTitle]="'Accept Sessions'">
        <builder-list></builder-list>
    </app-tab>
    <app-tab [tabTitle]="'Schedule Builder'">

    <div *ngIf="error" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{error}}
    </div>
    <div *ngIf="success" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{success}}
    </div>


    <div class="container-fluid"
         fxLayout
         [fxLayout.xs]="column"
         fxLayoutAlign="center"
         fxLayoutGap="10px"
         [fxLayoutGap.xs]="0">

        <div fxLayout="column" fxFill="flex">
            <div class="container"
                 fxLayout
                 [fxLayout.xs]="row"
                 fxLayoutAlign="center"
                 fxLayoutGap="10px"
                 [fxLayoutGap.xs]="0"
                 fxFill="flex">
                <div class="builder-functions" fxLayout="row" fxFlex="50%">
                    <a (click)="addSlotEnable()">+TimeSlot</a>
                </div>
                <div class="builder-functions" fxLayout="row" fxFlex="50%">
                    <a (click)="save()">Save</a>
                </div>
            </div>

            <div class="container"
                 fxLayout
                 [fxLayout.xs]="column"
                 fxLayoutAlign="center"
                 fxLayoutGap="10px"
                 [fxLayoutGap.xs]="0"
                 fxFill="flex">

                <div class="cards-scheduled"
                     fxLayout="column"
                     fxFlex="70%"
                     fxFill="flex">

                    <app-tabs>
                    <ng-container *ngFor="let day of days">
                        <app-tab [tabTitle]="day.Day | date : 'MMMM dd'">
                            <div class="timeslot" fxLayout="column">
                                <div fxLayout="row" [style.margin.px]="inputMargin">
                                    <div class="time" fxFlex="20%">
                                        <input class="text timeInput"
                                               fxFill="flex"
                                               *ngIf="addSlot"
                                               [(ngModel)]="timeInput"
                                               (keydown.enter)="addTimeSlot(day.Day); addSlotEnable()">
                                    </div>
                                </div>
                            </div>

                            <div class="timeslot" fxLayout="column"
                                 *ngFor = "let timeslot of day.Timeslots">
                                <div fxLayout="row">
                                    <div class="time" fxFlex="20%">
                                        <h2>{{timeslot.StartTime | date : 'h:mm a'}}</h2>
                                    </div>
                                    <span (click)="removeTimeslot(day, timeslot)" class="fa fa-close fa-lg remove"></span>

                                    <div [dragula]='"bag-sessions"'
                                         [dragulaModel]="timeslot.Sessions"
                                         class="cardholder-scheduled"
                                         fxFlex="80"
                                         fxLayout="column">

                                            <div class="card" fxFlex="grow" *ngFor = "let session of timeslot.Sessions">
                                                <h4 class="card-speaker">
                                                    {{session.SpeakerName}}
                                                    <span (click)="removeSession(timeslot, session)" class="fa fa-close remove"></span>
                                                </h4>
                                                <h5 class="card-title">{{session.Title}}</h5>
                                                <p class="card-text">{{session.Abstract | limitTo:300}}</p>
                                                <span class="label label-primary label-fat {{session.Track | sessionTrackType}}">
                                                    {{session.Track | sessionTrackType}}
                                                </span>

                                                <select [(ngModel)]="session.Room">
                                                    <option *ngFor="let room of timeslot.Rooms"
                                                            [value]="room"
                                                            (click)="onRoomSelected(session, room)"
                                                            [disabled]="checkSelected(timeslot, room)">{{room}}</option>
                                                </select>
                                            </div>

                                    </div>
                                </div>
                            </div>
                        </app-tab>
                        </ng-container>
                    </app-tabs>
                </div>


                <div class="container cards-unscheduled"
                     fxLayout="column"
                     fxFlex="30%"
                     [fxLayout.xs]="column"
                     fxLayoutAlign="center"
                     fxLayoutGap="10px"
                     [fxLayoutGap.xs]="0"
                     fxFill="flex">

                    <div [dragula]='"bag-sessions"'
                         [dragulaModel]="sessions"
                         class="cardholder-unscheduled"
                         fxFlex="80"
                         fxLayout="column">

                        <div class="card" fxFlex="grow"
                             *ngFor = "let session of sessions">
                            <ng-container *ngIf=session.SpeakerConfirmed>
                                <h4 class="card-speaker">{{session.SpeakerName}}</h4>
                                <h5 class="card-title">{{session.Title}}</h5>
                                <p class="card-text">{{session.Abstract | limitTo:30}}</p>
                                <span class="label label-primary label-fat {{session.Track | sessionTrackType}}">
                                    {{session.Track | sessionTrackType}}
                                </span>
                            </ng-container>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </app-tab>
</app-tabs>
