    <div class="container-fluid"
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">

        <div fxLayout="column" fxFill="flex">
            <div class="container"
                 fxLayout
                 fxLayout.xs="row"
                 fxLayoutAlign="center"
                 fxLayoutGap="10px"
                 fxLayoutGap.xs="0"
                 fxFill="flex">
                <div class="builder-functions" fxLayout="row" fxFlex="50%">
                    <a (click)="addTimeSlot()">+TimeSlot</a>
                </div>
                <div class="builder-functions" fxLayout="row" fxFlex="50%">
                    <a>Save</a>
                </div>
            </div>

            <div class="container"
                 fxLayout
                 fxLayout.xs="column"
                 fxLayoutAlign="center"
                 fxLayoutGap="10px"
                 fxLayoutGap.xs="0"
                 fxFill="flex">

                <div class="cards-scheduled" fxLayout="column" fxFlex="70%" fxFill="flex">
                    <div class="timeslot" fxLayout="column" *ngFor = "let timeslot of timeslots">
                        <div fxLayout="row">
                            <div class="time" fxFlex="20%">
                                <h2>{{timeslot.StartTime}}</h2>
                            </div>
                            <div class="cardholder-scheduled" fxFlex="80" fxLayout="column">
                                <ng-container *ngFor = "let session of timeslot.Sessions">
                                    <div class="card" fxFlex="grow">
                                        <h4 class="card-speaker">{{session.SpeakerName}}</h4>
                                        <h5 class="card-title">{{session.Title}}</h5>
                                        <p class="card-text">{{session.Abstract | limitTo:300}}</p>
                                        <span class="label label-primary label-fat">{{session.Track | sessionTrackType}}</span>
                                        <span class="label label-default label-fat">{{session.Room}}</span>
                                        <span class="label label-default label-fat">{{test | date:h}}</span>
                                        <span class="label label-default label-fat">{{session.StartTime | date:h}}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container cards-unscheduled"
                     fxLayout="column"
                     fxFlex="30%"
                     fxLayout.xs="column"
                     fxLayoutAlign="center"
                     fxLayoutGap="10px"
                     fxLayoutGap.xs="0"
                     fxFill="flex">
                    <div class="cardholder-unscheduled" *ngFor = "let session of sessions">
                        <div class="card" fxFlex="grow">
                            <h4 class="card-speaker">{{session.SpeakerName}}</h4>
                            <h5 class="card-title">{{session.Title}}</h5>
                            <p class="card-text">{{session.Abstract | limitTo:30}}</p>
                            <span class="label label-primary label-fat">{{session.Track | sessionTrackType}}</span>
                            <span class="label label-default label-fat">{{session.Room}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
