.container-fluid {
  padding-left: 8%;
  padding-right: 8%;
}

div .card {
  border-bottom: 1px solid grey;
}
div .cardholder-scheduled {
  padding: 5px;
}

div .cardholder-unscheduled {
  padding: 7px;
}

div .cards-unscheduled {
  padding: 15px;
  border-bottom: solid lightgray;
}

div .timeslot {
  border-bottom: 1px solid grey;
}

div .time {
  text-align: center;
}

div .builder-functions{
  padding: 8px;
}

a:hover {
  cursor: pointer;
}

.timeInput {
  font-size: 30px;
}

.Developer {
  background-color: red;
}
.DevOps {
  background-color: green;
}
.ITPro {
  background-color: orange;
}
.Entrepreneur {
  background-color: blue;
}
.Design {
  background-color: indigo;
}
.remove {
  float: right;
  padding: 4px;
}

.remove:hover {
  cursor: pointer;
}
