<navigation>
    <div class="container-fluid" body
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">

        <div class="cards" fxLayout="column" fxFlex="90">
            <div class="cardholder" *ngFor = "let session of sessions">
                <div class="card" fxFlex="grow">
                    <h4 class="card-speaker">{{session.SpeakerName}}</h4>
                    <h5 class="card-title">{{session.Title}}</h5>
                    <p class="card-text">{{session.Abstract | limitTo:300}}</p>
                    <span class="label label-primary label-fat">{{session.Track | sessionTrackType}}</span>
                    <span class="label label-default label-fat">{{session.Room}}</span>
                </div>
            </div>
        </div>
    </div>
</navigation>